<h1> Register to Paradiset</h1>
<form>
     <div>
         <label for="username">Username</label>
         <input type="text" name="username" id="username" placeholder="Enter your username.." [(ngModel)]="user.username">
     </div> 
     <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password.." [(ngModel)]="user.password">
    </div>   
    <br>
    <button (click)="onRegisterClicked()" type="button" [disabled]="isLoading">Register</button>
    <br>

<div *ngIf="registerError">
        <p>Error: {{registerError}}</p>
    </div>
    <div *ngIf="isLoading">
        <p>Registering your account...</p>
    </div>

</form>
<br>
<a routerLink="/login">Im already in paradiset, Log me in pls</a>