<h1> Login to Paradiset</h1>
<form [formGroup]="loginForm">
     <div>
         <label for="username">Username</label>
         <input type="text" name="username" id="username" placeholder="Enter your username.." 
         formControlName="username" required minlength="3">
     </div> 


     <div *ngIf="username.invalid && ( username.dirty || username.touched )">


        <p *ngIf="username.errors.required">Username is required</p>

        <p *ngIf="username.errors.minlength">Username should at least be 3 characters</p>
     
    </div>

     <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password.." 
        formControlName="password" required minlength="4">
    </div>   
    <div *ngIf="password.invalid && ( password.dirty || password.touched )">


        <p *ngIf="password.errors.required">Password is required</p>

        <p *ngIf="password.errors.minlength">Password should at least be 4 characters</p>
     
    </div>
<br>
    <button (click)="onLoginClicked()" type="button" [disabled]="isLoading || loginForm.invalid">Login</button>

    <div *ngIf="loginError">
        <p>{{loginError}}</p>
    </div>

    <div *ngIf="isLoading">
        <p>Attempting to login...</p>
    </div>
</form>

<br>

<a routerLink="/register">I dont want to be in paradiset</a> 